/* BACKGROUND */
.body {
  background-color: rgb(54, 54, 54);
}
/* NAV */
#navbar {
  background-color: blue;
  height: 60px;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  border: 1px solid #ff000074;
  box-shadow: 0 4px 40px rgba(255, 0, 0, 0.728);
}
.nav {
  text-decoration: none;
  padding: 5px 5px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  outline: 4px double rgba(0, 0, 255, 0.704);
  padding-right: 10px;
  padding-left: 15px;
  color: hsla(57, 100%, 75%, 0.816);
  text-shadow: 0 2px 10px rgb(64, 255, 0);
  background-color: #000000a4;
  box-shadow: 0 9px 3px #8000ff3a;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: auto;
  display: inline-block;
}
.nav:hover {
  color: hsla(57, 100%, 75%, 0.948);
  text-shadow: 1px 2px 5px rgb(21, 255, 0);
  background-color: #090034b3;
}
.nav:active {
  background-color: #090034db;
  box-shadow: 0 9px 3px #8000ff67;
  border-radius: 5px;
  outline: 4px double rgb(0, 47, 255);
  transform: translateY(4px);
}
/* whole painting */

/* row 1 */
/* background */
.container1 {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 206, 255);
  border: 20px solid black;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
/* clouds */
.container1 > #cloud {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  padding-top: 30px;
  margin-top: 60px;
  margin-bottom: -20px;
  margin-left: -90px;
}
.container1 > #cloud > #dot1 {
  background-color: rgba(255, 255, 255, 0.542);
  border-radius: 50%;
  box-shadow: 2px 1px 70px black;
  height: 15px;
  width: 60px;
  padding: 40px;
  margin-left: -90px;
}
.container1 > #cloud > #dot2 {
  background-color: rgba(255, 255, 255, 0.67);
  border-radius: 50%;
  box-shadow: 2px 1px 70px rgba(27, 20, 20, 0.799);
  height: 45px;
  width: 80px;
  padding: 40px;
  margin-top: 30px;
}
.container1 > #cloud > #dot3 {
  background-color: rgba(195, 194, 194, 0.631);
  border-radius: 50%;
  box-shadow: 2px 1px 70px rgba(255, 255, 255, 0.92);
  height: 50px;
  width: 100px;
  padding: 40px;
  margin-right: -70px;
}
/* sun */
.container1 > #sun {
  background-color: orange;
  box-shadow: 8px 15px 100px yellow;
  border-radius: 50%;
  padding: 100px;
  margin-top: 30px;
  margin-right: 150px;
  margin-bottom: -280px;
}
/* tree */
.container1 > #treetop {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 110px solid #40ff00;
  box-shadow: 0px 10px rgba(41, 81, 29, 0.824);
  margin-right: 250px;
}
.container1 > #treemid {
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 100px solid #499e2a;
  box-shadow: 0px 10px rgba(26, 51, 18, 0.891);
  margin-top: -440px;
  margin-right: 250px;
  margin-bottom: -170px;
}
.container1 > #trunk {
  background-color: rgb(71, 46, 0);
  box-shadow: 5px 5px 5px rgba(62, 44, 26, 0.571);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  margin-top: 200px;
  margin-right: 250px;
  margin-bottom: 300px;
}
