/* WHOLE BACKGROUND */
.body {
  background-color: rgb(54, 54, 54);
}
/* form */
#contact {
  width: 900px;
  height: 220px;
  background-color: rgb(0, 0, 0);

  font-size: 28px;
  color: #ffd900;
  text-shadow: 0px 5px 20px #ba6b03;
  border: 20px solid black;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 10px;

  display: inline-block;
  justify-content: center;
}
.form {
  height: 40px;
  display: inline-flex;
  flex-direction: row;
}
/* row 1 */
/* background */
.container1 {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 206, 255);
  border: 20px solid black;
  padding-bottom: 100px;
  margin-top: -200px;
  margin-right: auto;
  margin-left: 950px;
}
/* clouds */
.container1 > #cloud {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  padding-top: 30px;
  margin-top: 60px;
  margin-bottom: -20px;
  margin-left: -90px;
}
.container1 > #cloud > #dot3 {
  background-color: rgba(255, 255, 255, 0.542);
  border-radius: 50%;
  box-shadow: 2px 1px 70px black;
  z-index: 1;
  height: 15px;
  width: 60px;
  padding: 40px;
  margin-left: -110px;
}
.container1 > #cloud > #dot2 {
  background-color: rgba(255, 255, 255, 0.67);
  border-radius: 50%;
  box-shadow: 2px 1px 70px rgba(27, 20, 20, 0.799);
  z-index: 2;
  height: 45px;
  width: 80px;
  padding: 40px;
  margin-top: 30px;
}
.container1 > #cloud > #dot1 {
  background-color: rgba(195, 194, 194, 0.631);
  border-radius: 50%;
  box-shadow: 2px 1px 70px rgba(255, 255, 255, 0.92);
  z-index: 3;
  height: 50px;
  width: 130px;
  padding: 40px;
  margin-right: -70px;
}
/* sun */
.container1 > #sun {
  background-color: orange;
  box-shadow: 8px 15px 100px yellow;
  border-radius: 50%;
  padding: 100px;
  margin-top: 30px;
  margin-right: 150px;
  margin-bottom: -280px;
}
/* tree */
.container1 > #treetop {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 110px solid #40ff00;
  box-shadow: 0px 10px rgba(41, 81, 29, 0.824);
  z-index: 2;
  margin-right: 250px;
}
.container1 > #treemid {
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 100px solid #499e2a;
  box-shadow: 0px 10px rgba(26, 51, 18, 0.891);
  z-index: 1;
  margin-top: -440px;
  margin-right: 250px;
  margin-bottom: -170px;
}
.container1 > #trunk {
  background-color: rgb(71, 46, 0);
  box-shadow: 5px 5px 5px rgba(62, 44, 26, 0.571);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  margin-top: 200px;
  margin-right: 250px;
  margin-bottom: 300px;
}
